A7/Build/TPC-H/customer.tbl
A7/Build/TPC-H/lineitem.tbl
A7/Build/TPC-H/nation.tbl
A7/Build/TPC-H/orders.tbl
A7/Build/TPC-H/part.tbl
A7/Build/TPC-H/partsupp.tbl
A7/Build/TPC-H/region.tbl
A7/Build/TPC-H/supplier.tbl
